{% if data is not null %}
    <img src="{{ asset('media/testimonial/avatar/' ~ data) }}" alt="Avatar" style="max-width: 50px; max-height: 50px;" />
{% else %}
    <span class="ui label">{{ 'softylines_sylius_testimonial.ui.no_avatar'|trans }}</span>
{% endif %}
